1. Imagine Dragons - "Thunder"
2. Lewis Capaldi - "Before You Go"
3. Shawn Mendes - "Stitches"
4. Lorde - "Green Light"
5. Sam Smith - "How Do You Sleep?"
6. Lana Del Rey - "Summertime Sadness"
7. The Neighbourhood - "Sweater Weather"
8. Sia - "Cheap Thrills"
9. Ariana Grande - "no tears left to cry"
10. Khalid - "Talk"
11. Anne-Marie - "2002"
12. Tame Impala - "The Less I Know The Better"
13. The Weeknd - "Blinding Lights"
15. Harry Styles - "Adore You"
16. Marina - "Handmade Heaven"
17. Zara Larsson - "Lush Life"
18. The 1975 - "Somebody Else"
19. Camila Cabello - "Never Be the Same"
20. Maroon 5 - "Memories"
21. James Bay - "Let It Go"
22. Ed Sheeran - "Castle on the Hill"
23. Selena Gomez - "Lose You To Love Me"
24. Major Lazer & DJ Snake feat. MØ - "Lean On"
25. Ava Max - "Sweet but Psycho"